.container {
  background-color: crimson;
  display: flex;
  width: 300px;
  height: 500px;
  font-size: large;
}

h1 {
  text-align: center;
  background-color: cadetblue;
}

#upute {
  background-color: crimson;
  width: 300px;
  height: 500px;
  font-size: large;
}

#btn-container {
  background-color: aqua;
  flex-grow: 1;
  text-align: center;
  border: 3px solid green;
  top: 50%;
  bottom: 50%;
}
